@import "flatpickr/dist/flatpickr.min.css";
@import "izitoast/dist/css/iziToast.min.css";

body {
    background: #fff;
    width: 1128px;
    margin-top: 36px;
    margin-left: 156px;
}


#datetime-picker {
    width: 272px;
    height: 40px;
    border-radius: 4px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    border: 1px solid #808080;
    padding: 0;
    padding-left: 16px;
}

#startButton {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 8px;
    padding: 8px 16px;
    width: 75px;
    height: 40px;
    background: #4e75ff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#startButton:disabled {
    color: #989898;
    background: #cfcfcf;
    cursor: default;
}

/* #startButton:hover {
  background: #6c8cff;
} */

.link-home {
    position: absolute;
    top: 10px;
    left: 10px;
}

.timer {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    gap: 24px;
    width: 346px;
    height: 72px;


}

.field {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
    min-width: 55px;
    height: 72px;
    justify-content: center;
    align-items: center;
}

.value {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.label {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
    text-transform: uppercase;
}